<%= provide(:title, "Assigned Rides") %>

<h2 id="event-title"><strong><%= @assignment.event %></strong></h2>
<h3><%= @assignment.date.to_formatted_s(:long) %></h3>
<hr>
<div class="row">
	<div class="col-md-12">
		<% @assignment.assignments.each do |assignment| %>
			<strong><%= assignment[:name] %>:</strong>
			<% assignment[:riders].each do |rider| %>
				<a href="/riders.html#<%= name_to_attribute(rider.name) %>">
					<%= rider.name %>
				</a>
				<% unless rider ==  assignment[:riders].last %>
					|
				<% end %>
			<% end %>
			<hr>
		<% end %>
		
		<%= link_to "Back", assignments_path %>
	</div>
</div>
