<h1>Ride assignments for <%= @assignment.event %></h1>
<h3><%= @assignment.date %></h3>
<br><br>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<% @assignment.assignments.each do |assignment| %>
			<strong><%= assignment[:name] %>:</strong>
			<%= assignment[:riders].join(', ') %>
			<hr>
		<% end %>
		
		<%= link_to "Back", assignments_path %>
	</div>
</div>
