<%= provide(:title, "Assigned Rides") %>

<h2 id="event-title"><strong><%= @assignment.event %></strong></h2>
<h3><%= @assignment.date.to_formatted_s(:long) %></h3>
<hr>
<div class="row">
	<div class="col-md-12">
		<% @assignment.assignments.each do |assignment| %>
			<% if assignment[:name] == "Riders Remaining" %>
				<div id="assignment" class='alert alert-danger'>

					<strong><%= assignment[:name] %>:</strong>

					<% assignment[:riders].each do |rider| %>
						<a href="/riders.html#<%= name_to_attribute(rider.name) %>">
							<%= rider.name %>
						</a>
						<% unless rider ==  assignment[:riders].last %>
							|
						<% end %>
					<% end %>

				</div>
				<hr>
			<% else %>
				<div id="assignment">

					<strong><%= assignment[:name] %>:</strong>

					<% assignment[:riders].each do |rider| %>
						<a href="/riders.html#<%= name_to_attribute(rider.name) %>">
							<%= rider.name %>
						</a>
						<% unless rider ==  assignment[:riders].last %>
							|
						<% end %>
					<% end %>

				</div>
				<hr>
			<% end %>
		<% end %>

		<%= link_to "Back", assignments_path %> 
		<% if admin_signed_in? %>
			 
			| <%= link_to "Delete", @assignment, method: :delete,
																					data: { confirm: "Are you sure?" }%>
		<% end %>

	</div>
</div>
