<%= provide(:title, "Riders List") %>

<h3 class="center"><strong>Total Riders: </strong><%= @riders.count %></h3>
<div class="center">
	<%= will_paginate @assignments, renderer: BootstrapPagination::Rails %>		
</div>
<hr>



<div class="row">
	<div class="col-md-12">
		<div class="center">
			<% @riders.each do |rider| %>
				<h4 id="<%= name_to_attribute(rider.name) %>"><%= rider.name %></h4>
				<div id="user_details">
					<p><strong>Phone Number: </strong><%= rider.phone %></p>
					<p><strong>Email: </strong><%= rider.email %></p>
					<p><strong>Address: </strong><%= rider.address %></p>
					<% if admin_signed_in? %>
						<%= link_to "edit" %> | 
						<%= link_to "delete", rider, method: :delete,
																					data: { confirm: "Are you sure?" } %>
					<% end %>
				</div>
				<hr>
			<% end %>
		</div>

	<%= link_to "back", assignments_path %> | 
	<%= link_to "top" %>
	</div>
</div>

<div class="center">
	<%= will_paginate @assignments, renderer: BootstrapPagination::Rails %>		
</div>