<%= provide(:title, "Drivers List") %>

<h3 class="center"><strong>Total Drivers: </strong><%= @drivers.count %></h3>
<% if admin_signed_in? %>
	<p class="center">To add new drivers, send this link: <%= link_to "http://acts-rides.herokuapp.com/signup", signup_path %></p>
<% end %>
<hr>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="center">
			<% @drivers.each do |driver| %>
				<h4 id="user_name <%= name_to_attribute(driver.name) %>"><%= driver.name %></h4>
				<div id="user_details">
					<p><strong>Phone Number: </strong><%= driver.phone %></p>
					<p><strong>Email: </strong><%= driver.email %></p>
					<p><strong>Address: </strong><%= driver.address %></p>
					<% if admin_signed_in? %>
						<%= link_to "edit", edit_driver_path(driver) %> | 
						<%= link_to "delete", driver, method: :delete,
																					data: { confirm: "Are you sure?" } %>
					<% end %>
				</div>
				<hr>
			<% end %>
		</div>

		<%= link_to "back", assignments_path %> | 
		<%= link_to "top" %>
	</div>
</div>

<div class="center">
	<%= will_paginate @assignments, renderer: BootstrapPagination::Rails %>		
</div>