<!DOCTYPE html>
<html>
<head>
  <title>RidesApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/nav' %>

	<% flash.each do |message_type, message| %>
	    <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
   <% end %>
   
	<%= render 'layouts/header' %>

	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div id="main">
					<%= yield %>
				</div>
			</div>
			<%= render 'layouts/aside' %>
		</div>
	</div>

	<%= render 'layouts/footer' %>
</body>
</html>
